*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#main{
    max-width: 960px;
    margin: 0 auto;
    width: 90%;
    padding: 40px;
    background-color: #fff;
}
#register-form{
    border-radius: 10px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.glow-error{
    filter: drop-shadow(0 0 5px red);
}
.glow-passed{
    filter: drop-shadow(0 0 5px green);
}
.noVisible{
    visibility: hidden;
}
.input{
    width: 100%;
	background: #fff;
	/* border: 3px solid transparent; */
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}
label{
    display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}
#submit{
    grid-column: 1/3;
    width: 30%;
    justify-self: center;
}
.grupo__checkboxes{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto auto;
}
#intereses-error{
    grid-column: 1/3;
}
.grupo__terminos{
    grid-column: 1/3;
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}
.grupo__terminos label{
    justify-self: flex-start;
}
#terminos-error{
    grid-column: 1/3;
    justify-self: center;
}
.msj-error{
    display: flex;
    justify-content: center;
    background-color: #b75a5a;
    color: whitesmoke;
    text-align: center;
    height: 45px;
    line-height: 45px;
}
@media screen and ( max-width: 720px){
    #register-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #submit{
        margin: 0 auto;
    }
    .msj-error{
        margin-top: 10px;
        align-items: center;
        line-height: 24px;
    }
}